# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Large media files - Not needed anymore since we use YouTube
/public/audios/*.mp3
/public/videos/*.mp4

# Git LFS files - Not needed anymore since we use YouTube
# .gitattributes file can be removed as it's no longer needed

# Otros
.DS_Store
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
